<div class="fondo">
<br>
<br>
    <div class="container">
        <div class="row">
            <h1 class="center mt-3">Recuperar de contraseña</h1>
  
            <div class="d-flex justify-content-center">
                <div class="col-lg-8">


                    <div class="form-group">
                        <label  for="exampleInputEmail1" class="form-label mt-4">Correo electronico</label>
                        
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                        <input   [(ngModel)]="email" type="email" class="form-control form-label-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese correo de la cuenta">
                        </div>
                       
                        <small>Le enviaremos un mensaje para que recupere su contraseña.</small>
                     
                    </div>



                      <div class="d-grid gap-2 mt-5">
                        <button class="btn btn-lg btn-primary" (click)="forgotPassword()"  type="button">Enviar</button>
                        <button class="btn btn-lg btn-warning mt-3 mb-4" (click)="regresar()" type="button">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>