.fondo{

    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('src\assets\imagenesFondo\fondo4.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    color: white;
}
.container{
    background-color: #f0f8ff7e;
    width: max-content;
    border-radius: 40px;
}
.center{
    text-align: center;
}
label{
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
}
small{
    color: white;
    font-weight: 600;
}
.btn{
    font-weight: 600;
}

@media screen and (max-width:1200px){
    .container{
     width: 500px;
    }
 }
 @media screen and (max-width:550px){
     .container{
      width: 400px;
     }
  }
  @media screen and (max-width:430px){
     .container{
      width: 350px;
     }
  }
  @media screen and (max-width:380px){
     .container{
      width: 300px;
     }
  }
  @media screen and (max-width:320px){
     .container{
      width: 250px;
     }
  }
  @media screen and (max-width:260px){
     .container{
      width: 200px;
     }
  }
 @media screen and (max-height:485px){
     .fondo{
        /*background-size:cover;*/
         background-repeat: repeat;
         height: min-content;
       /*   min-height: min-content;
         max-height: min-content; */
         background-position:bottom;
         min-height: min-content;
         max-height: min-content;
     }
     
 
  }