<!-- <div class="redes-sociales">
        <div class="nombre">
          <h1 class="titulo2">Builder Tester Funlam</h1>
        </div>
        <div class="logos">
          <div class="colA">
            <p class="parrafoA">Social media</p>
            <div class="filaA">
              <a class="parrafoSocial" href="#"
                ><img [src]="logoInstagram" alt="" class="logoSocial"
              /></a>

              <a class="parrafoSocial" href="#"
                ><img [src]="logoFacebook" alt="" class="logoSocial"
              /></a>

              <a class="parrafoSocial" href="#"
                ><img [src]="logoTwitter" alt="" class="logoSocial"
              /></a>
            </div>
          </div>
          <div class="colB">
            <p class="parrafoA">Contactanos</p>
            <div class="filaB">
              <p class="parrafoA">
                <img
                  [src]="logoWp"
                  alt=""
                  class="logoSocialPequeño"
                />&nbsp;3023639019
              </p>
              <p class="parrafoA correoTexto">
                <img
                  [src]="logoEmail"
                  alt=""
                  class="logoSocialPequeño correo"
                />&nbsp;BuilderTesterFunlam@gmail.com
              </p>
            </div>
          </div>
        </div>
  </div> -->

  <section class="base">
    <div class="linea">
        <div class="builder">
          <h1>Builder Tester Funlam</h1>
        </div>

        <div class="social-media">


          <a class="parrafoSocial" href="#"
                ><img [src]="logoInstagram" alt="" class="logoSocial"
              /></a>

              <a class="parrafoSocial" href="#"
                ><img [src]="logoFacebook" alt="" class="logoSocial"
              /></a>

              <a class="parrafoSocial" href="#"
                ><img [src]="logoTwitter" alt="" class="logoSocial"
              /></a>



        </div>
        <div class="info">


          <p>
            <img
              [src]="logoWp"
              alt=""
              class="logoSocialPequeño"
            />&nbsp;3023639019
          </p>
          <p>
            <img
              [src]="logoEmail"
              alt=""
              class="logoSocialPequeño correo"
            />&nbsp;BuilderTesterFunlam@gmail.com


        </div>
    </div>
  </section>